/* Soluzione qui */

@media screen and (min-width: 768px){
    #topbar{
        justify-content: flex-start;
    }

    main{
        padding: 40px;
    }

    .recipe-title .recipe-origin{
        display: inline;
    }

    .recipe-title .recipe-name{
        font-size: 30px;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li{
        width: calc(100% / 3);
    }

    .social-networks .btn{
        width: 20%;
    }

    .ads{
        display: block;
    }

    .presentation img{
        display: inline-block;
        float: left;
        margin-right: 10px;
    }
}

@media screen and (min-width: 992px){

    .recipe-title .recipe-name{
        font-size: 35px;
    }

    .recipe-card{
        display: flex;
    }

    .recipe-card .recipe-video{
        width: 70%;
    }

    .recipe-card .recipe-info{
        width: 30%;
    }

    .quick-notes ul{
        display: inline-block;
    }

    .quick-notes ul li{
        width: 100%;
    }

}